<header>
        <h1><section class="p1">{{title}}</section>
            <section class="line1" id="p2">.com</section>
            <button class="bt" id="button1">INR ⌄</button>
            <button class="bt" id="button2">BTC ⌄</button>
            <section id="label1">58</section>
            <button id="teleB">Connect Telegram</button>
            <label class="switch"><input type="checkbox"><span class="slider round"></span></label>
        </h1>
        <h2><section id="p3">Powered By&nbsp;</section><section id="p4">{{name}}</section></h2>
</header>